node_modules
TRACKING.md
npm-debug.log
/dist
.tmp
.DS_Store
.idea
coverage
.nyc_output
.wercker
e2e/errorShots
e2e/reports
Guardfile
.vscode/launch.json
.storybook/dist
.history
/src/client/assets/makes/generated
.env
.yalc/
yalc.lock
run.sh
*.log
.npmrc
.lighthouseci


# Cypress
cypress/screenshots
cypress/videos
cypress/test-reports
mochawesome-report/
mochawesome.json
cypress/results/*.json
